<div>
    <h2>CHAT</h2>
    <form id="chatform">
        User: <input type="text" name="user" id="user">
        Message: <input type="text" name="message" id="message">
        <input type="submit" value="ENVIAR">
    </form>
</div>

<h3>Messages</h3>
<div id="chatbox"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>